# Infrastructure environment variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=email_service
POSTGRES_PORT=5432

# Database connection URL for Prisma
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/email_service?schema=public

# Application Port
PORT=3000
